.footer-wrapper{
    width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.footer-description{
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    color: var(--title-color);
}

.footer-list{
    width: 275px;
    display: flex;
    justify-content: space-between;
}

.item-link{
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: var(--title-color);
}